#video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
        #sky {
            position: fixed;
        }
        #setobj{
            position: fixed;
            right: 45%;
            bottom: 0;
            min-width: 5%;
            min-height: 5%;
            background-color : transparent;
        }
        #aj{
            position: fixed;
        }